body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 480px;
  margin: 0 auto;
}

.tab-list, .bills {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab-list {
  text-align: center;
}

.tab-list > li.tab {
  display: inline-block;
  padding: 20px;
  font-size: 24px;
}

.tab-list > li.tab > a {
  color: #0a9cff;
  text-decoration: none;
}

.tab-list > li.tab.tab-selected {
  border-bottom: 2px solid #0a9cff;
}

.bills {
  margin: 20px 0 0 0;
}

.bill {
  padding: 10px 0;
  font-size: 18px;
  border-bottom: 1px dashed #ddd;
}

.bill:last-child {
  border-bottom: none;
}

.bill-action {
  border: none;
  text-decoration: underline;
  font-size: 12px;
  color: #898d98;
  float: right;
  cursor: pointer;
}